<div class="second-pic">
<%= cl_image_tag("https://res.cloudinary.com/dsxzb0ouf/image/upload/v1582299534/aviation-cocktail3_q9p3mt.jpg",
      height: 400, crop: :fill) %>

<div>
<h1><%=  @cocktail.name %></h1>

<ul>
<% @doses.each do |dose| %>
<li>
<%= dose.ingredient.name + ":"%>
<%= dose.description %>
<%= link_to  cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
</li>
<% end %>
</ul>
<%= link_to 'Add new doses', new_cocktail_dose_path(@cocktail) %>
</div>

</div>

<br>
<%= link_to 'Back to all cocktails', cocktails_path %>

